.login {
    display: flex;
    height: 120vh;
    flex-direction: column;
    align-items: center;
   
  }
  
  .loginLogo{
    margin: 30px auto;
    width: 190px;
    object-fit: contain;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .login__container {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px;
  }
  .login__container h1 {
    font-size: 25px;
    margin: 20px 0;
  }
  .login__container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .login__container form div {
display: flex;
flex-direction: column;
gap: 5px;
  }

  .login__container form input {
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: white;
    width: 100%;
    border: none;
    border: 1px solid gray;
    border-radius: 3px;
  }
  .login__container form input:focus {
    outline: 2px solid skyblue
  }
.login__signInButton{
    border: none;
    background: orange;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.login__signInButton:hover{
    background-color: var(--primary-shade);
}
.login__container p {
    padding: 10px 0px;
    font-size: 14px;
}

.login__registerButton{
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.login__registerButton:hover{
    background-color: lightblue;
}