.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

.cart__container{
    padding: 20px;
}

.cart__container h2,
.cart__container h3 {
    padding: 10px;

}

.subtotal {
    padding:  20px;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid rgb(193, 193, 193);
    background-color: rgb(242, 241, 241);
    border-radius: 5px;
}

.subtotal a {
    text-align: center;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;

}
.subtotal a:hover {
    background: var(--primary-shade)
}

.subtotal >div,
.subtotal span {
    display: flex;
    gap: 20px;
}


.cart__container hr {
    margin: 10px;
}
.container img{
    width: 100px !important;
}
.cart_product{
  display: flex;
  gap: 10px;
}
.btn_container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.btn{
  padding: 5px 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  border: none;
}
.btn:hover svg{
  background-color: var(--primary-color);
}
.container div:not(.subtotal) {
  height: auto !important;
}
  .cart__container {
    padding: 20px;
  }
  .cart__container h2,
  .cart__container h3 {
    padding: 10px;
  }
  .cart__container hr {
    margin: 10px;
  }
  .subtotal {
    padding: 20px;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid rgb(193, 193, 193);
    background-color: rgb(242, 241, 241);
    border-radius: 5px;
  }
  .subtotal a {
    text-align: center;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
  }
  .subtotal a:hover {
    background: var(--primary-shade);
  }
  .subtotal > div,
.subtotal span {
  display: flex;
  gap: 20px;
}
.no_item{
    flex-direction: column;
      order: 1;
}
.no_item p{
  text-align: center;
  margin-top: 30px;
}


.subtotal a.checkoutBtn {
    background-color: #f0c14b !important;
    color: #111 !important;
    padding: 12px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #a88734;
  }
  
  .subtotal a.checkoutBtn:hover {
    background-color: #ddb347 !important;
  }
  .checkoutBtn {
    cursor: pointer;
  }
  .checkoutBtn:hover {
    background-color: #f0c14b;
  }
  
  
@media screen and (max-width: 968px) {
    .container {
      flex-direction: column;
      order: 1;
    }
   
  }