.card__container {
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    background: white;

  }
  
  /* Image */
  .card__container img {
    padding: 10px;
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  
  /* Button */
  .button {
    padding: 8px 10px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: rgb(190, 207, 35);
    color: white;
    width: 100%;
    margin-top: 15px;
    border-radius: 30px;
    position: static;   
  }
  
  .button:hover {
    background-color: var(--primary-shade);
    /* display: block; */
    color: black;
  }
  
  /* Rating */
  .rating {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  /* Products grid */
  .products_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1450px;
    margin: 100px auto;
    gap: 50px;
    justify-items: center;
  }
  .products_container section {
    margin: 0 auto;
  }
  
  /* ========================= */
  /* FLEXED PRODUCT (DETAILS) */
  /* ========================= */
  /* FLEX layout for product detail */
.product__flexed {
  display: flex;
  gap: 50px;
  width: 100%;
  align-items: flex-start;
  box-shadow: none;
}

/* Title */
.product__flexed h3 {
  padding: 20px 0;
}

/* Image */
.product__flexed img {
  width: 300px;
  height: auto;
}

/* Button */
.product__flexed .button {
  display: block;
  width: 150px;
  position: static;
  margin-right: 40px;
}

/* Mobile */
@media (max-width: 768px) {
  .product__flexed {
    flex-direction: column;
    align-items: center;
  }

  .product__flexed img {
    width: 250px;
  }
  }
  